<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>联系人</span>
                            <a target="_blank" href="mailto:cqq0720.outlook.com">CQQ</a>
                            <span> / 文件 </span>
                            <a target="_blank" href="https://chenye.lanzoui.com/b00tpfb8j">点击</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>